.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills__bar {
    background-color: rgb(175, 168, 168);
}

.skills__percentage {
    display: block;
    background-color: #407f76 ;
}

.skills__percentage.skills__html {
    width: 90%;
}

.skills__percentage.skills__react {
    width: 80%;
}

.skills__percentage.skills__bootstrap {
    width: 70%;
}

.skills__percentage.skills__tailwind {
    width: 75%;
}



.skills__percentage.skills__js {
    width: 65%;
}

.skills__percentage.skills__node {
    width: 65%;
}

.skills__percentage.skills__db {
    width: 75%;
}

.skills__percentage.skills__sql {
    width: 80%;
}



.skills__percentage.skills__figs {
    width: 85%;
}

.skills__percentage.skills__photoshop {
    width: 65%;
}



.skills__percentage.skills__numpan {
    width: 90%;
}

.skills__percentage.skills__datavis {
    width: 95%;
}

.skills__percentage.skills__scikit {
    width: 85%;
}

.skills__percentage.skills__py {
    width: 85%;
}